

/* Variables */

:root{
    --bpm-purple: rgb(130, 23, 180);
    --bpm-green: rgb(84, 177, 77);
    --dark-text:rgb(0, 0, 0);
    --light-text:rgb(255, 255, 255);
    --grey-text:rgb(120, 120, 120);
    --dark-content-box-bg: rgba(0, 0, 0, .8);
    --light-content-box-bg: rgb(255, 255, 255);
    --main-bg: #000000;

    --default-font: 'Montserrat', Arial, sans-serif;

    --header-height: 80px;
    --layout-padding: 20px;
    --middle-offset: 10px;
    --max-content-width: 1300px;
    --left-percent: 55%;
    --right-percent: 45%;
    --box-padding: 20px;
    --gutter: 20px;
    --corners: 10px;
}

/* Full Page Styles */

html{
    background-color: var(--main-bg);
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

body{
    font-family: var(--default-font);
}

.required{
    color:#c12525;
}

.black-link{
    color: var(--dark-text);
    font-weight: bold;
    text-decoration: underline;
}
.black-link:hover{
    color: #444444;
    font-weight: bold;
    text-decoration: underline;
}
.black-link:active{
    color: #1d1d1d;
    font-weight: bold;
    text-decoration: underline;
}

.white-link{
    color: var(--light-text);
    text-decoration: none;
}
.white-link:hover{
    color: #E0E0E0;
    text-decoration: underline;
}
.white-link:active{
    color: #C0C0C0;
    text-decoration: none;
}

.svg-link:hover{
    transform: scale(0.85);

}

.svg-link:active{
    transform: scale(0.65);

}

.justified-text{
    text-align: unset;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    min-width: 0;
}

.limit-width{
    max-width: unset;
}

.shadowed{
    box-shadow: 0 15px var(--gutter) #000000B0;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

input, select, textarea, button{
    border: 2px #dedede solid;
    border-radius: calc(var(--corners) / 1.6);
    background-color: var(--light-content-box-bg);
    font-size: 15px;
    height: 35px;
}

input:focus, select:focus, textarea:focus, button:focus{
    border:  2px rgba(21, 156, 228, 0.4) solid;
    outline: none;
}

button{
    border-color: var(--bpm-purple);
    background-color: var(--bpm-purple);
    color: var(--light-text);
}

button:hover{
    border-color: var(--bpm-purple);
    background-color: var(--light-content-box-bg);
    color: var(--bpm-purple);
}

button:active{
    border-color: var(--light-content-box-bg);
    background-color: var(--bpm-purple);
    color: var(--light-text);
}

.input-label-pair{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
}

.input-label-pair input, .input-label-pair label{
    min-width: 100%;
}

label{
    font-size: 12px;
    color: #b4b4b4;
}

iframe{
    border: none;
}

.tiny-break{
    display: none;
}

/* Header and Footer */

#header, #footer {
    background-color: var(--main-bg);
    color: var(--light-text);
}

#header{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    padding: 20px var(--layout-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-social{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.header-social-icon{
    height: 25px;
}

#header-logo{
    height: 40px;
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--layout-padding);
    padding: var(--layout-padding) 0;
}

#footer-columns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    width: 100%;
    max-width: var(--max-content-width);
}

#footer-logo, #footer-graphic, #footer-social{
    max-width: 40%;
    max-height: 150px;
}

#footer-logo{
    display: none;
}

#footer-social{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: .75em;
    font-size: 12px;
    letter-spacing: -.06em;
}

.footer-social-entry{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    font-weight: 600;
}

.footer-social-icon{
    width: 1.2em;
}

#cright{
    font-size: 10px;
    color: #A0A0A0;
    font-weight: 500;
}

/* Upper, Middle and Lower Layouts*/

#upper-layout, #lower-layout, #middle-layout, #body404{
    padding: var(--layout-padding);
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#upper-layout{
    padding-top: calc(var(--layout-padding) + var(--header-height));
    padding-bottom: calc(var(--layout-padding) + var(--middle-offset));
    background-image: url("imgs/call-me-fred-fVIpbUFPggo-unsplash.jpg");
}

#lower-layout{
    padding-top: calc(var(--layout-padding) + var(--middle-offset));
    background-image: url("imgs/iStock-1091992144.jpg");
    background-position: 45%;
}

#middle-layout{
    position: relative;
    z-index: 10;
    margin-top: calc(var(--middle-offset) * -1);
    margin-bottom: calc(var(--middle-offset) * -1);
}

#middle-content{
    max-width: var(--max-content-width);
    width: 100%;
    align-items: center;
    justify-content: center;
}

#upper-content, #lower-content{
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter);
    width: 100%
}

/* Content Boxes */

.light-content-box, .dark-content-box{
    border-radius: var(--corners);
    padding: var(--box-padding);
}

.dark-content-box{
    background-color: var(--dark-content-box-bg);
    color: var(--light-text);
}

.light-content-box{
    background-color: var(--light-content-box-bg);
    color: var(--dark-text);
}

/* Section Headings */

.section-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.section-heading-text{
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
    color: var(--light-text);
    margin: 0;
    text-wrap: nowrap;
}

.heading-blocker{
    width: 100%;
    height: 3px;
    color: var(--light-text);
    border-style: none;
    background-color: var(--light-text);
}

/* Our Program Section */

#our-program{
    row-gap: var(--gutter);
}

#our-program-logo{
    width: 70%;
    max-width: 400px;
    margin-bottom: 15px
}

#our-program-box{
    align-items: center;
}

/* Contact Form */

#form-box{
    margin-top: 25px;
}

#form-placer{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: var(--gutter);
}

#form-logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-logo{
    max-width: 300px;
    margin: 10px 0 40px 0;
}

#form-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 700;
}

#form-social{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.form-social-icon{
    height: 1em;
    filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(304deg) brightness(102%) contrast(103%);
}

#form-content{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

#form-content .row{
    column-gap: 10px;
}

#first-last-input{
    margin-bottom: 5px;
}

.form-date{
    width: 1px;
}

#form-description{
    margin-top: 5px;
    margin-bottom: 15px;
}

#organization-input{
    margin-top:20px;
    margin-bottom: 5px;
}

#street-city-input{
    margin-bottom: 5px;
}

#state-zip-input{
    margin-bottom: 20px;
}

#program-input{
    margin-top: 5px;
    margin-bottom: 5px;
}

#date-input{
    margin-bottom: 20px;
}

#submit{
    margin-bottom: 10px;
}

#form-content-container{
    position: relative;
}

#post-form{
    display: none;
    position: absolute;
    text-align: center;
    z-index: 10;
    top: 43%;
    bottom: 57%;
    left: 0;
    right: 0;
    font-size: 16px;
    padding: 0 15%;

}

/* Course Overview */

#course-overview{
    row-gap: var(--gutter);
}

#img-grid{
    row-gap: var(--gutter);
    padding: 0 var(--gutter);
}

.img-grid-row{
    justify-content: space-between;
}

.grid-img{
    border-radius: var(--corners);
    object-fit: cover;
}

#img-grid-top-right, #img-grid-bottom-left{
    width: 77.5%;
}

#img-grid-top-left, #img-grid-bottom-right{
    width: 19.5%;
}

#img-grid-top-right{

}
#img-grid-bottom-right{
    object-position: left;
}

#reel-container {
    border-radius: var(--corners);
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;

}

#reel{
    border-radius: var(--corners);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

#reel-container-box{
    margin: 0 var(--gutter);
}

#sel-boxes{
    width: 100%;
    justify-content: space-between;
}

.sel-cell{
    background-color: var(--bpm-green);
    color: var(--light-text);
    font-weight: 600;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22%;
    border-radius: calc(var(--corners) / 1.6);
    text-align: center;
    padding: 10px 5px;
    row-gap: 7px;
}

.sel-icon{
    width: 40px;
}

#sel-container{
    font-size: 14px;
    padding: var(--box-padding);
    row-gap: 10px;
}

#sel-heading{
    font-size: 20px;
    font-weight: 700;
}

/* Middle */

#middle-text, #middle-list{
    font-weight: 600;
}

#middle-list{
    padding-left: 25px;
}

.middle-item{
    width: 50%;
    font-size: 12px;
}

/* Meet the Founder */

#founder-intro{
    align-items: center;
    font-size: 20px;
    column-gap: 10px;
    flex-wrap: wrap;
    color: #525252;
}

#founder-section-heading, #founder-name{
    margin: 0;
}

#founder-section-heading{
    font-weight: 600;
}

#founder-title{
    margin-top: 10px;
    font-size: 14px;
}

#founder-name{
    font-size: 60px;
}

.founder-right-img{
    width: 31%;
    object-fit: cover;
    border-radius: calc(var(--corners)/1.6);
}

#founder-left-img{
    width: 40%;
    object-fit: cover;
    border-radius: calc(var(--corners)/1.6);
    max-height: 570px;
}

#founder-text{
    width: 60%;
    font-size: 14px;
    padding: 0 20px;
    row-gap: 10px;
    justify-content: space-evenly;
}

#founder-content{
    padding-bottom: 20px;
}

#founder-right{
    justify-content: space-between;
}

/* Gallery */

#gallery-container{
    position: relative;
    background-color: unset;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#gallery{
    align-items: center;
    justify-content: center;
}

#gallery-image{
    border-radius: var(--corners);
    width: 100%;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
}

.arrow{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

.gallery-counter-dot, .arrow{
    color: var(--light-text);
    cursor: pointer;
}

.arrow:hover, #left-modal:hover, #right-modal:hover, #modal-close:hover{
    opacity: 65%;
}
.arrow:active, #left-modal:active, #right-modal:active, #modal-close:active{
    opacity: 100%;
}

#left-arrow{
    left:25px;
}

#right-arrow{
    right: 25px;
}

#gallery-counter{
    width: 82%;
    height: 10px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    bottom: 60px;
    gap: var(--gutter);
    flex-wrap: wrap;
}

.gallery-counter-dot{
    background-color: var(--light-text);
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    opacity: 65%;
}


#modal-image{
    z-index: 31;
    border-radius: var(--corners);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#modal-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
}

#modal-dialogue{
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #00000000;
    border: none;
    outline: none;
    box-shadow: none;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#modal-dialogue::backdrop{
    backdrop-filter: blur(20px) contrast(100%);
    -webkit-backdrop-filter: blur(20px) contrast(100%);
}

#modal-close{
    position: fixed;
    top: var(--gutter);
    right:var(--gutter);
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: var(--corners);
    z-index: 31;
    cursor: pointer;
}

#modal-x{
    color: black;
}

#modal-arrows{
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    color: var(--light-text);
    z-index: 31;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -30px;

}

#left-modal, #right-modal{
    pointer-events: auto;
    z-index: 31;
    cursor: pointer;
}

#click-to-close{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 30;
    top:0;
    left: 0;
}

/* Testimonials */

#testimonials{
    row-gap: var(--gutter);
}

#testimonial-row{
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px;
}

.testimonial-box{
    flex-grow: 1;
    max-width: 48%;
    justify-content: space-between;
    row-gap: 10px;
    font-size: 14px;
}

.testimonial-by{
    color: var(--bpm-purple);
    font-weight: 500;
}

/* Partnerships adn Collaborations */

#partnerships-and-collaborations{
    row-gap: var(--gutter);
}

#partners-row{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.partners-box{
    max-width: 100%;
    flex-grow: 1;
}

.partners-img{
    max-height: 62px;
    width: auto;
    object-fit: contain;
}


@media (max-width: 434px){
    #gallery-counter{
        bottom: 80px;
    }
    #left-arrow{
        left: 10px;
    }
    #right-arrow{
        right:10px;
    }
}

@media (max-width: 610px){
    #founder-intro{
        justify-content: center;
        align-items: center;
    }

    #founder-title{
        font-size: max(2.9vw);
        flex-direction: row;
    }

    #founder-intro{
        font-size: min(5.5vw);
    }

    #founder-name{
        text-align: center;
        font-size: min(8.6vw);
    }


}

@media (max-width: 700px){
    #founder-content{
        flex-direction: column;
        align-items: center;
    }
    #founder-text{
        padding: 0;
        width: 100%;
    }
    #founder-left-img{
        width: 80%;
        height: 300px;
        object-position: 0 10%;
        margin: 20px 0;
    }
}

@media (min-width: 850px){
    @media (max-width: 990px){
        .section-heading-text{
            text-wrap: wrap;
        }
    }
}

@media (min-width: 990px){
    .sel-cell{
        font-size: 14px;
        letter-spacing: -0.05em;
    }
}

@media (min-width: 850px){

    /* Variables */

    :root{
        --layout-padding: 40px;
        --box-padding: 30px;
        --gutter: 30px;
    }

    .justified-text{
        text-align: justify;
    }

    .dark-content-box, .light-content-box{
        padding: var(--box-padding);
    }

    /* Header and Footer */

    #header{
        display: none;
    }

    #footer-logo{
        display: unset;
    }

    #footer-logo, #footer-graphic, #footer-social{
        width: 25%;
    }

    #footer-social{
        letter-spacing: 0;
    }

    .footer-social-entry{
        font-size: 1.2em;
    }

    #footer-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer-logo-image{
        max-width: 200px;
    }

    /* Upper, Middle and Lower Layouts*/

    #upper-layout{
        padding-top: var(--layout-padding);
    }

    #upper-content, #lower-content{
        max-width: var(--max-content-width);
        width: 100%;
    }

    .limit-width{
        max-width: var(--left-percent);
    }

    /* Our Program */

    #our-program-logo{
        margin: 0;
    }

    #our-program-box{
        justify-content: space-around;
        height: calc(100% - 47px);
        font-size: 19px;
        row-gap: var(--gutter);
    }

    /* Contact Form */

    #form-placer{
        flex-direction: row;
        column-gap: var(--gutter);
    }

    #form-box{
        margin-top: unset;
        width: calc(var(--right-percent) - var(--gutter));
        padding: var(--box-padding);
        justify-content: center;
    }

    #form-logo{
        margin: 0;
        margin-bottom: var(--box-padding);
    }

    #form-social{
        display: flex;
        flex-direction: row;
        column-gap: 15px;
    }

    #form-description{
        font-size:13px;
    }

    #submit{
        margin-bottom: 0;
    }

    /* Course Overview */
    #sel-container{
        padding: 25px;
    }

    /* Middle */

    .middle-item{
        font-size: 16px;
    }

    #middle-text{
        width: var(--left-percent);
    }
    #middle-list{
        width: var(--right-percent);
        padding-left: 40px;
    }

    /* Meet the Founder */

    #founder-intro{
        flex-wrap: nowrap;
    }

    #founder-left-img{
        width: 40%;
    }

    #founder-text{
        width:60%;
    }

    #meet-the-founder{
        flex-direction: row;
        max-width: 960px;
    }

    #founder-container{
        justify-content: center;
        align-items: center;
    }

    #founder-right{
        flex-direction: column;
    }

    #founder-left{
        width: 80%;
    }
    #founder-right{
        width: 20%;
    }

    .founder-right-img{
        object-fit: cover;
        width: 100%;
        object-position: 0 0;

    }

    #founder-right-1{
        height: 30%;
        object-position: 60% 0;
    }
    #founder-right-2{
        height: 34%;
        object-position: 0 0;
    }
    #founder-right-3{
        height: 30%;
        object-position: 0 70%;
    }

    /* Testimonials */

    #testimonial-row{
        gap: var(--gutter);
    }

    .testimonial-box{
        width: 46%;
    }

    /* Partnerships and Collaborations */

    #partners-row{
        gap: var(--gutter);
    }

}

@media (max-width: 380px) {
    #form-logo{
        max-width: 250px;
    }

    #form-social{
        column-gap: .1em;
    }

    #form-heading, #form-description{
        letter-spacing: -.03em;
    }

    .footer-social-entry{
        font-size: .87em;
    }

    #sel-heading{
        font-size: 17px;
    }

    .testimonial-box{
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .sel-cell{
        font-size: 11px;
        letter-spacing: -0.05em;
    }
    .tiny-break{
        display: unset;
    }
    .tiny-unbreak{
        display: none;
    }
}

@media (max-width: 548px) {
    .section-heading-text{
        text-wrap: wrap;
    }
}

